/********General************/

body {
    margin: 0;
    font-family: Roboto, sans-serif;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  .section-title {
    padding-top: 20px;
    font-size: 20px;
    margin-left: 20px;
  }
  
  
  .fa-heart {
      font-size: 22px;       
  }
  