@import './variables';

/********sections de la page principale**************/

/*********location************/

.location {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: darken(#FFFF, 5%);
  
    &__icon {
      margin-left: 80px;
      margin-right: 10px;
      padding-right: 0;
    }
  
    &__text {
      background-color:  darken(#FFFF, 5%);
      font-size: 13px;
      font-weight: bold;
      border: none;
    }  
  }
  
  /**********intro**************/
  
  .intro {
    background-color: darken(#FFFF, 2%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
  
    &__title {
      font-size: 20px;
      margin: 20px 45px;
    }
  
    &__link {
      background-color: #686868;
      background-image: linear-gradient(0deg,$primary-color,$secondary-color);
      transition-duration: 0.25s;
      box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
      font-size: 13px;
      letter-spacing: 1px;
      border-radius: 30px;
      color: white;
      font-weight: 600;    
      padding: 1rem;
      margin-bottom: 25px;
      
      &:hover {
        background-color: #fff;
        opacity: 0.8;
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
      }
    }
  
    &__subtitle {
      font-size: 14px;
      font-weight: 100;
      color: #7e7d7d !important;
      margin: 0 20px 20px 20px;
    }

    @media screen and (min-width: 1280px) {
      &__title {
        font-size: 32px;      
      }

      &__subtitle {
        font-size: 16px;        
      }
    }

    @media screen and (min-width: 1024px) {
      &__title {
        font-size: 30px;      
      }
    }
  }
  
  /*********Hepler*****************/
  
  .Helper {
   
    &__list {
      display: flex;
      font-size: 14px;
      flex-direction: column;
      list-style: none;
      padding-left: 0;  
  
      &__Cont {
        border-radius: 10px;
        margin: 1rem 1.4rem 0.25rem 1.8rem;
        padding: 1.5rem;
        background-color: #f6f6f6;
        box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
        position: relative;
  
        &::before {
          display: flex;
          justify-content: center;
          font-size: 14px;
          align-items: center;
          position: absolute;
          border-radius: 100px;
          padding-left: 0;
          width: 1.5rem;
          height: 1.5rem;
          left: -0.75rem;
          counter-increment: compteListe;
          content: counter(compteListe) "";
          background: $primary-color;
          color: white;
        }
        
        &__icon {
          padding-right: 10px;
          padding-left: 10px;
  
          .Helper__list__Cont:hover & {
            color: $primary-color !important;
          }
        }
      }
    }
  
    @media screen and (min-width: 1024px) {
      padding: 0 50px;
  
      &__list {
        margin: 0 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
  
    }
    @media screen and (min-width: 1280px) {
      padding: 0 180px;
    }
  }
  
  /************Restaurants***************/
  .Restaurant {
    padding-top: 0px;  
    background-color: darken(#FFFF, 2%); 
  }
  
  .Restaurant__Title {
    margin-top: 40px;   
  }
  
  .Restaurant__Cards {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  
    .Card {    
      padding: 0;   
      width: 100%;
      height: 210px;
      margin-top: 20px;
  
      &__Img {
        width: 100%;
        height: auto;
        max-height: 150px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }
  
      i {      
        margin-right: 10px;      
      }
  
      &__Content__Title {
        margin: 8px;
      }
    }
  
    @media screen and (min-width: 768px) {
      width: 95%;
      padding: 0 15px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 30px;
    }
   }

    @media screen and (min-width: 1024px) {
      .Restaurant {
        padding: 0 50px;      
      }

      .Restaurant__Cards {
        column-gap: 90px;
      
      .Card {
        height: 260px; 

        &__Img {
          max-height: 200px; 
        }     
      }
    }    
    }
    @media screen and (min-width: 1280px) {
      .Restaurant {
        padding: 0 180px;      
      }

      .Restaurant__Cards {
        column-gap: 60px;            
      }    
    }

    .Card {
      display: flex;
      flex-direction: column;
      background-color: white;
      border-radius: 20px;
      padding: 5px;
      filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    
      &__Img {
        object-fit: cover;
      }
    
      &__Content {
        &__Title {
          font-size: 14px;
        }
    
        &__Subtitle {
          position: relative;
          bottom: 10px;
          font-size: 14px;
          margin-left: 8px;
        }
      }
    
      &__Label {
        font-size: 12px;
        overflow: visible;
        position: absolute;
        top: 0px;
        right: 20px;
        padding: 5px 8px 5px 8px;
        background-color: $tertiary-color;
        color: darken($tertiary-color, 50%);;
      }
    }

    .card__btn {
        height: 2rem;
        width: 2rem;
        background-color: initial;
        border: 0 solid transparent;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: absolute;
        bottom: 15px;
        right: 15px;        
        background-color: lighten(#000, 80%);
      
        &:hover:before {
          opacity: 1;
        }
      
        &:before, .card__like {
          position: absolute;
          right: 0;
          left: 0;
          height: 100%;
          width: 100%;
        }
      
        &:before {
          opacity: 0;
          transition: 0.5s;
          content: "";
          background: linear-gradient(0deg, $primary-color, $secondary-color);
        }
      
        .card__like {
          transition-duration: 0.5s;
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          mix-blend-mode: lighten;
        }
      
        &:hover .card__like--noBg {
          opacity: 0;
        }
      }
      
      /********section des pages des restaurants**************/

      .main-container{
        max-width:1280px;
        margin:auto;
        position:relative;
      }

      .restaurantImage {
        max-width: 100%;
        max-height: 32rem;
        width: 100%;
        object-fit: cover;    
      }

      .menu{
        margin-top:-4rem;
        border-radius:2rem 2rem 0 0;
        background-color:#f6f6f6;
        z-index:1;
        position:relative;
       }
       
      .menu__header{
        padding:1rem 2rem 0rem 1rem;
        display:flex;
        align-items:center;
        justify-content: center;        
      }
      
      .menu__title{
        font-family:Shrikhand,"cursive";
        margin-right: 14px;    
      }
    
      .menu__btn{
        margin-bottom: 0;
        height:2rem;
        width:2rem;
        background-color:initial;
        border:0 solid transparent;
        padding:0;
        display:flex;
        align-items:center;
        justify-content:center;
        cursor:pointer;
        position:relative;
        background-color:lighten(#000, 60%);
      }

      .menu__btn:hover:before{
        opacity:1
      }

      .menu__btn:before{
        opacity:0;
        transition:.5s;
        content:"";
        background:linear-gradient(0deg,$primary-color,$secondary-color);
      }

      .menu__btn:before,.menu__like{
        position:absolute;
        top:0;
        left:0px;
        height:100%;
        width:100%;
      }

      .menu__like{   
        transition-duration:.25s;
        background-color:#f6f6f6;
        display:flex;
        align-items:center;
        justify-content:center;
        mix-blend-mode:lighten;
      }

      .menu__btn:hover .menu__like--noBg{
        opacity:0;
      }
    
      .sub-menus {
        display: grid;
        @media screen and (min-width: 1024px) {
          grid-template-rows: repeat(3, 1fr);
          column-gap: 1rem;
        }
      }
      
      .menu-category {    
        max-width: 100%;
        overflow: hidden;
        padding: 0 0.5rem;
      }
      
      .menu-category__title {
        text-transform: uppercase;
        position: relative;
        padding-bottom: 0.5rem;
        font-weight: 400;
      
        &::after {
          content: "";
          width: 3rem;
          height: 0.25rem;
          background-color: $tertiary-color;
          position: absolute;
          left: 0;
          bottom: 0;
        }
      }     
    
      @keyframes itemAppear {
        0% { 
          opacity: 0;    
          transform: translate(100%);      
        }

        100% {      
          transform: translate(0%);
          opacity: 1;            
        }
      }
    
      @for $i from 0 through 8 { // Commencez à 0
        .item-#{$i} {
          background-color: #fff;
          padding: 1rem 0.65rem;
          display: flex;
          border-radius: 0.75rem;
          margin: 1rem 0;
          box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
          overflow: hidden;
          cursor: pointer;
          animation: itemAppear $menuItemAnimationDuration $animationTimingFunction;
          animation-delay: $i * $animationDelay;
          animation-fill-mode: forwards; 
          max-width: 100%;
          opacity: 0;                   
        }
      }

        .menu-item {
       
        &__header {
          flex: 1;
        }   
      
        &__header,
        &__title {
         white-space: nowrap;     
         overflow: hidden;     
        }
      
        &__title {
          color: black;
          margin: 0;
        }
      
        &__description {
          color: lighten(#000000, 65%);
          font-weight: 100;
          letter-spacing: -1.5px;
          margin: 0;     
          overflow: hidden;
          
          @media screen and (min-width: 320px) {
            font-size: 16px;
          }      
        }
      
        &__price {
          color: black;
          font-weight: 700;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          padding-left: 0rem;
        }
      
        &__confirmation {
          background-color: $tertiary-color;
          margin: -1rem -5rem -1rem 1rem;
          width: 4rem;
          display: flex;
          align-items: center;
          justify-content: center;
          transition-duration: 0.5s;
        }
        
        &:hover .menu-item__confirmation {
            margin-right: -1rem;     
        }

        &:hover &__confirmation  &__header, 
        &__title,
        &__description {
           white-space: nowrap;
           text-overflow: ellipsis;
           overflow: hidden;
        }

        &__icon-wrap {
          height: 1.6rem;
          width: 1.6rem;
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100px;
          transform: rotate(180deg);
          transition-duration: 0.5s;
        }
      
        &:hover, &__icon-wrap {
          transform: rotate(0);
        }
      
        &__icon {
          color: $tertiary-color;
        }    
      }
    
      .buttonContainer {
        display: flex;
        text-decoration: none;
        justify-content: center;
        padding: 3rem 0;
      }
      
      .buttonCommand {
        border: 0;
        padding: 0.75rem 1.5rem;
        font-weight: 500;
        font-size: 1.1rem;
        border-radius: 100px;
        color: #fff;
        background-color: #686868;
        background-image: linear-gradient(0deg,$primary-color,$secondary-color);
        transition-duration: 0.25s;
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
        cursor: pointer;
      
        &:hover {
          background-color: #fff;
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
        }
      
        a {
          text-decoration: none;
          color: inherit;
        }
      }
      