/*****couleurs principales*********/

$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

/******variables des animations*****/

/*****variable loader*****/

$jump-duration: 1s; // Durée de l'animation jump

/****variables animantion pages des menus des restaurants*****/

$menuItemAnimationDuration: 5s;
$animationTimingFunction: cubic-bezier(0.5, 0.75, 0.34, 0.82); 
$animationDelay: 1s;